.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container,
.touch .video-container{
    display: block;
}

.video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    z-index: 0;
}

.video-container video.fillWidth {
    width: 100%;
}
